#showCodeDiv{
    width:80vw;
    margin:0 auto;
    border:2px solid #999;
    border-radius: 5px;
    max-height:600px;
    overflow-y: scroll;

}
.analisis-line::before{
    font-family: "FontAwesome";
    content: "\f00c";
    padding:5px 10px;

}