.jumbotron{
    margin:10px;
    border-radius: 5px;
    background-color: #4715A6!important;
    color:#fff;

}
#form-container{
    width:60vw;
    margin:10px auto;

}
#form-container form{
    width:50vw;
    margin:0 auto;
}
#form-container input{
    width:44vw;

}
#showCodeDiv{
    width:100%;
    margin:10px auto;
    border:2px solid #999;
    border-radius: 5px;
    max-height:600px;
    overflow-y: scroll;
    padding-bottom: 10px;

}
.analisis-line::before{
    font-family: "FontAwesome";
    content: "\f00c";
    padding:5px 10px;

}
.footer{
    background-color: #000;
    color:#fff;
    position: fixed;
    bottom: 1px;
    padding:10px;
    margin-top: 10px;
}